[Unit]
Description=Node.js Example Server

[Service]
ExecStart=/usr/bin/node /vagrant/TimeTrackerApp/bin/www
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-example
Environment=NODE_ENV=production PORT=80

[Install]
WantedBy=multi-user.target