doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons", rel="stylesheet")
        //link(href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet")
        link(href="/js/references/vuetify/1.5.16/vuetify.css" rel="stylesheet")
        //link(href="https://unpkg.com/prismjs/themes/prism.css" rel="stylesheet")
        //link(href="https://unpkg.com/vue-prism-editor/dist/VuePrismEditor.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    body
        #app
            router-view
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/js/references/vue/2.5.18/vue.js")
        script(src="/js/references/vuetify/1.5.16/vuetify.js")
        script(src="/js/references/vue-router/vue-router.js")
        
        //script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        //script(src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js")
        //script(src="https://unpkg.com/vue-router/dist/vue-router.js")
        //script(src="https://unpkg.com/prismjs")
        //script(src="https://unpkg.com/vue-prism-editor")

        script(src="/js/references/prismjs.js")
        script(src="/js/references/VuePrismEditor.umd.js")
        script(src="/js/mainWrapper.js")
        script(src="/js/login.js")
        script(src="/js/users.js")
        script(src="/js/timetracking.js")
        script(src="/js/index.js")
